
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
	<div class="min-h-screen bg-gray-300 flex flex-col justify-center ">
		<div class=" mx-auto p-5 bg-white space-y-2 max-w-xl ">
			<div class="">
				<h1 class="text-2xl font-bold">You're Logged In!</h1>
			</div>
			<div class="text-xl">
				<span class="font-semibold">Your Username is:</span><br/>
        <%= username %>
			</div>
			<div class="">
				<a href="/logout" class="text-blue-700 text-lg font-semibold">Log Out &RightArrow; </a>
				<a href="/demo" class="text-blue-700 text-lg font-bold">Go to The Demo Page! &RightArrow; </a><br>
			</div>
			
		</div>
	</div>
</body>
</html>
